<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard||URL Shorten App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/basestyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/dashboardstyle.css')}}">


</head>

<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(static/images/a.jpg);
    background-repeat: no-repeat;
    background-size: auto;">
    <div class="header">
        <a href="" class="logo">URL SHORTEN APP by MOHAMMAD WASIQ</a>
        <div class="header-right">
            <a class="active" href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="login">
        <h1>URL Shortener</h1>
        <form method="post" action="{{ url_for('shortener') }}">
            <label for="url">Enter URL:</label>
            <input type="text" name="url" id="url">
            <button type="submit">Shorten</button>
        </form>
        {% if short_url %}
            <form>
                <label for="short-url">Shortened URL:</label>
                <input type="text" name="short-url" id="short-url" value="{{ short_url }}" readonly>
                <button type="button" onclick="copyToClipboard()">Copy</button>
            </form>
        {% endif %}
        <br>
        <a href="{{ url_for('urls') }}">View Previous URLs</a>
    </div>
</body>
<script>
    function copyToClipboard() {
        var copyText = document.getElementById("short-url");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
    }
</script>
