<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title%}||URL Shorten App</title>
    <!-- <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/1.ico')}}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/basestyle.css')}}">

</head>

<body>
    <div class="header">
        <a href="" class="logo">URL SHORTEN APP by MOHAMMAD WASIQ</a>
        <div class="header-right">
            <a class="active" href="/">Home</a>
            <a href="/signup">Signup</a>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert--{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% block body %} {% endblock body %}

</body>

</html>